<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Songs</title>
</head>
<body>
       <h1>All the songs </h1>
       <ul>
           <li th:each="song: ${songs}">
            Title: <span th:text="${song.title}"></span><br>
               Length:<span th:text="${song.length}"></span> seconds<br>
            TrackNumber:   <span th:text="${song.trackNumber}"></span>
             in  <a th:href="@{'/albumDetail/'+${song.album.id}}" th:text="${song.album.title}"></a> album<br>
               <a th:href="@{'/updatesong/'+ ${song.id}}">Update</a>
               <a th:href="@{'/deletesong/'+ ${song.id}}">Delete</a>
           </li>
       </ul>

<a href="/albums">Home</a>
</body>
</html>