<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Songs</title>
</head>
<body>
       <h1>All the songs </h1>
       <ul>
           <li th:each="song: ${songs}">
            Title: <span th:text="${song.title}"></span><br>
               Length:<span th:text="${song.length}"></span> seconds<br>
            TrackNumber:   <span th:text="${song.trackNumber}"></span>
             in  <span th:text="${song.album.title}"></span> album
           </li>
       </ul>
</body>
</html>